---
url: "/"
===
{% extends "layout.html" %}

{% block header %}
<h1>Bringing together people in data</h1>
<p>We are a community of people who enjoy working with
data. We want to bring people from our field together in order to
share our experiences and learn from one another. Whether you are a
data scientist, analyst, engineer, or enthusiast; please feel welcome
to join us!</p>

<p>Right now we are in the process of organising a series
of meetups around data-related topics. One day we hope to organise
conferences as well! Join our events to meet like-minded folks and
learn more about our field.</p>
{% endblock %}

{% block main %}
<h2>Events</h2>
{% for event in events %}
<div class="event">
    <h4 class="title">Meetup: {{ event.title }}</h4>
    <p class="description">{{ event.blurb }}</p>
    <p class="date"><strong>Date:</strong> {{ event.date }}</p>
    <p class="speakers">
    <strong>Speakers:</strong>
    {% for talk in event.talks %}
    {% set sep = ", " if not loop.last else "" %}
    {{ talk.speaker.name }} ({{ talk.speaker.affiliation }}){{ sep }}
    {% endfor %}
    </p>
    <div class="rsvp"><a href="{{ event.url }}">Details & RSVP</a></div>
</div>
{% else %}
<p>No events announced yet. Watch this space!</p>
{% endfor %}

<h2>Elsewhere</h2>

<p>
  Join us on
  <a class="icon-link" href="https://www.meetup.com/onehot/" target="_blank">
    <img class="icon" src="/img/icons/meetup.svg">
    <span class="text">Meetup</span>
  </a>
  and
  <a class="icon-link" href="https://discord.gg/5Y8g3EWBZ2" target="_blank">
    <img class="icon discord" src="/img/icons/discord.svg">
    <span class="text">Discord</span></a>!
</p>
{% endblock %}
