---
url: "/speaker-info"
===
{% extends "layout.html" %}

{% block title %}Speaker information{%endblock %}

{% block main %}
<div class="container">
  <h1>Speaker information</h1>
  <p>Onehot is a community for people passionate about data science.
  We are centered in Utrecht, the Netherlands.</p>

  <p>This page contains practical information for speakers. If you would like
  to speak at one of our events, please reach out! Email us at:
  <a href="mailto:organisation@onehot.nl">organisation@onehot.nl</a></p>

  <h2>Audience</h2>

  <ul>
    <li>
      A healthy mix of data scientists, machine learning engineers, ops people,
      business analysts, academics, students, and other interersted folks.
    </li>
    <li>
      Pretty technical, but no-one is an expert in every domain! If you are
      used to speaking for domain experts, please be prepared to give a little
      more context than usual.
    </li>
  </ul>

  <h2>About the talk</h2>

  <ul>
    <li>
      Talks can be about anything data-related that gratifies one's
      intellectual curiosity. If you would like examples, feel free to have a
      look at <a href="/">our previous meetups</a>.
    </li>
    <li>
      If you work for a company and you're hiring: feel free to mention this.
      However, please do not turn your talk into a "Why work for us"-pitch.
      It generally works better to focus on the content of the talk and show
      you are working on cool stuff anyway.
    </li>
    <li>
      We are not too strict on time, but generally try to have two ~30 minute
      talks per meetup, excluding time for discussion/<wbr>questions.
    </li>
  </ul>

  <h2>Coaching</h2>

  <ul>
    <li>
      We would like to be a safe space for new speakers to gain public speaking
      experience. We would love to help you brainstorm talk ideas beforehand,
      or coach you on your talk's narrative/slides/delivery.
    </li>
  </ul>
</div>
{% endblock %}
