{% extends "layout.html" %}

{% block header %}
<h3 class="date">{{event.date}}</h3>
<h1>{{ event.title }}</h1>
<p>{{ event.description}}</p>

<div class="details">
  <h4>Details:</h4>
  <ul>
    <li>{{ event.date }}</li>
    <li>From {{ event.start_time}}  until ~{{ event.end_time }} (CET)</li>
    <li>Location: <a href="{{ event.location.url }}" target="_blank">{{ event.location.text}}</a></li>
    <li><a href="{{ event.meetup_url }}" target="_blank">Please RSVP on Meetup</a></li>
  </ul>
  </div>

<p class="small">Please let us know if we can do anything to make the event
  (more) accessible to you. We will try our best to accomodate any needs you may
  have. You can reach us through <a href="mailto:organisation@onehot.nl">
    organisation@onehot.nl</a>.
</p>
{% endblock %}


{% block main %}
{% for talk in event.talks %}
<div class="talk">
  <h3 class="title">{{ talk.title }}</h3>
  <h4 class="subtitle">{{ talk.subtitle }}</h4>

  <p>{{ talk.abstract }}</p>
  <p class="keywords small">Keywords: {{ talk.keywords }}</p>

  <div class="biography">
    <h4 class="name">About {{ talk.speaker.name }}</h4>
    <div class="photo">
      <img src="{{ talk.speaker.photo_url }}" alt="Photograph of {{ talk.speaker.name }}">
    </div>
    <p class="bio">{{ talk.speaker.bio }}</p>
    <p class="externals">
      {% for url in talk.speaker.external_urls %}
        <a class="url" href="{{ url.url }}" target="_blank">{{ url.text}}</a>
      {% endfor %}
    </p>
  </div>
</div>
{% endfor %}

{% endblock %}
