{% extends "layout.html" %}

{% block header %}
<h1>About</h1>
<p class="large">The name of our meetup is a reference to
<a href="https://en.wikipedia.org/wiki/One-hot">onehot encoding</a>.</p>
{% endblock %}

{% block main %}
<h3>Organizers</h3>

<div class="organizers">
  <div class="organizer">
    <img src="/img/alma.jpg">
    <h4>Alma</h4>
    <p>Alma is a master's student of Engineering & Policy Analysis at
    TU Delft. She did her bachelor in information sciences with a
    minor in AI in Utrecht, where she wrote her thesis on automated
    analysis of breast MRI. She is passionate about imaging, AI and
    public policy.</p>
  </div>
  <div class="organizer">
    <img src="/img/rob.jpg">
    <h4>Rob</h4>
  </div>
  <div class="organizer">
    <img src="/img/laurens.jpg">
    <h4>Laurens</h4>
    <p>Laurens is obsessed with developer tools/experience, and enjoys
      scaling infrastructure. He used to lead the DevOps team at
      <a href="https://channable.com/">Channable</a> and is now helping
      <a href="https://iterative.ai/">Iterative</a> build tools for ML /
      AI projects.</p>
  </div>
</div>
{% endblock %}
