{% extends "layout.html" %}

{% block header %}
<h1>Bringing together people in data</h1>
<p class="large">We're a community of data scientists and ML(Ops) engineers.
We're sharing how we work and how we would like to work.</p>
<p class="large">We organize meetups and (hopefully) conferences. Join our
events to meet like-minded folks and learn about your field.</p>
{% endblock %}

{% block main %}
<h2>Events</h2>
{% for event in events %}
<div class="event">
    <h4 class="title">Meetup: {{ event.title }}</h4>
    <p class="date"><strong>Date:</strong> {{ event.date }}</p>
    <p class="speakers">
    <strong>Seakers:</strong>
    {% for speaker in event.speakers %}
    {% set sep = ", " if not loop.last else "" %}
    {{ speaker.name }} <em>({{ speaker.affiliation }})</em>{{ sep }}
    {% endfor %}
    </p>
    <div class="rsvp"><a href="{{ event.meetup_url }}">Details & RSVP</a></div>
    {% if event.video_url %}
    <div class="video"><a href="{{ event.video_url }}">Video</a></div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
