{% macro active(page_name) -%}
{% if active_page == page_name %}class="active"{% endif %}
{%- endmacro %}

<html>
<head>
  <title>onehot</title>
  <link rel="stylesheet" href="/style.css">
  <meta charset="utf-8">
</head>
<body>
  <header>
    <div class="container">
      <a class="logo" href="/">
        <img class="logo" src="/logo.svg"/>
      </a>
      <nav>
        <ul>
          <li {{ active("index.html") }}><a href="/">events</a></li>
          <li {{ active("about.html") }}><a href="/about.html">about</a></li>
          <li {{ active("code-of-conduct.html") }}><a href="/code-of-conduct.html">code of conduct</a></li>
        </ul>
      </nav>
      {% block header %}
      {% endblock %}
    </div>
  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>
</body>
</html>
