@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

/* Basic normalize / reset. Let's not make this too complicated. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography and type scale */

html {
    font-size: 100%;
    font-family: Noto Serif;

    /* Colour scheme */
    --onehotpink: #F72585;
    --onehotpink-0: #D90866;
    --onehotpink-1: #F962A6;
    --onehotpink-2: #FB89BC;

    --onehotpurple: #7209B7;
    --onehotpurple-0: #540688;
    --onehotpurple-1: #9B15F4;
    --onehotpurple-2: #AC3CF6;

    --onehotblue: #3A0CA3;
    --onehotblue-0: #280972;
    --onehotblue-1: #4A10D1;
    --onehotblue-2: #5A1BEE;

    --darkgrey: #282421;
    --darkgrey-0: #0B0A09;
    --darkgrey-1: #433C37;
    --darkgrey-2: #5A5049;

    --lightgrey-2: #D1CCC7;
    --lightgrey-1: #E3E0DD;
    --offwhite: #F6F5F4;
    --truewhite: #FFFFFF;


    /* Functional colours and shades */
    --lightblue: #4CC9F0;
    --lightblue-1: #8EDEF6;
    --lightblue-2: #C6EEFA;

    --green: #20FC8F;
    --green-1: #86FEC2;
    --green-2: #C2FEE0;

    --yellow: #FCE761;
    --yellow-1: #FDF09B;
    --yellow-2: #FEF6C3;

    --red: #EE7A6D;
    --red-1: #F4ACA4;
    --red-2: #F8CDC9;
}

body {
    background: var(--offwhite);
    color: var(--darkbrown);
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5, p.large {
    font-size: 1.25rem;
}

small, .text_small {
    font-size: 0.8rem;
}

/* Links */

a {
    padding: 0;
    color: var(--onehotblue);
    text-decoration: none;
    line-height: 1.75;
    border-bottom: 2px dotted;
}

a:visited {
    color: var(--onehotblue);
}

/* Sizing & layout */

main,
.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin: 3rem 0;
}

header nav {
    margin-bottom: 3rem;
}

p {
    max-width: 60ch; /* Characters for optimal line length */
}

/* Navigation */

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
    padding: 0 5px;
}

nav ul li.active {
    background: var(--onehotpink);
}

nav ul li.active a {
    color: var(--offwhite);
    border: none;
}

/* Events */

.event {
    display: grid;
    grid-template-areas:
        "title title"
        "date rsvp"
        "speakers video";
}

.event .title {
    grid-area: title;
}

.event .speakers {
    grid-area: speakers;
}

.event .date {
    grid-area: date;
    margin: 0;
}

.event .rsvp {
    grid-area: rsvp;
}

.event .video {
    grid-area: video;
}

/* Logo */

a.logo {
    border: none;
    display: block;
    margin-bottom: 4rem;
}

img.logo {
    max-width: 50%;
}
